<div class="icons-container">
  <input type="text"
         placeholder="Search by icon name"
         (keyup)="onInput($event)">
  <div class="button-container">
    <button class="btn-default" type="button" value="black" (click)="onColorChange($event)">Default</button>
    <button class="btn-blue" type="button" value="#0098db" (click)="onColorChange($event)">Blue</button>
    <button class="btn-green" type="button" value="#96bc33" (click)="onColorChange($event)">Green</button>
    <button class="btn-red" type="button" value="#ef4e4e" (click)="onColorChange($event)">Red</button>
    <button class="btn-orange" type="button" value="#ed941e" (click)="onColorChange($event)">Orange</button>
  </div>

  <app-accordion>
    <app-group *ngFor="let iconWidth of uniqueWidthSet" [title]="iconWidth">
      <div class="icons-group" *ngFor="let icon of getWidthGroup(iconWidth)">
        <span #svg class="single-icon" [innerHTML]="icon.tag"></span>
        <p class="single-icon-name">{{icon.name}}</p>
      </div>
    </app-group>
  </app-accordion>

</div>
