.content-body {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.content-body.hidden {
  display: none;
}

.title {
  display: flex;
  align-items: center;
}

.chevron {
  padding: 6px 5px 0 5px;
}
